#gaugeBar {
    border: 1px solid black;
}

QLabel {
    /* font-size: 20px;*/
}

#scoreWidget {
    background-color: rgba(231, 231, 231, 0.4);
}

#lblScore {
}

#gameView {
    border: 5px double black;
    background-color: rgb(27, 170, 249);
}

#gameWidget {
    background-color: rgb(27, 170, 249);
}

#gaugeWidget {
    background-color: rgba(231, 231, 231, 0.4);
}

#catchingfishwidget {
    background-color: rgba(231, 231, 231, 0.4);
}

#timerWidget {
    background-color: rgba(231, 231, 231, 0.4);
}



