#gaugeBar {
    border: 1px solid black;
}

QLabel {
    /* font-size: 20px;*/
}

#scoreWidget {
    background-color: rgba(170, 170, 172, 0.2);
}

#lblScore {
    border-bottom: 5px dotted black;
}

#gameView {
    border: 5px double black;
    background-color: rgb(49, 179, 217); /* Blue */
}

#gameWidget {
    background-color: rgb(49, 179, 217); /* Blue */
}

#gaugeWidget {
    background-color: rgba(0, 255, 0, 0.2); /* Vert */
}

#catchingfishwidget {
    background-color: rgba(255, 0, 0, 0.2); /* Rouge */
}

#timerWidget {
    background-color: rgba(0, 0, 255, 0.2); /* Bleu */
}



